<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробности теста</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body class="fw-light bg-light">
	<nav th:insert="~{fragments/general.html :: header}"></nav>

	<div class="container mt-4">

		<div class="container d-flex flex-wrap gap-2 mb-1">
			<h1><span th:text="'⏳ ' + ${testInfo.getDuration()}" class="badge text-bg-secondary" title="Отведенное время"></span></h1>
			<h1><span th:text="'❓ ' + ${testInfo.getQuestionsCount()}" class="badge text-bg-secondary" title="Кол-во вопросов"></span></h1>
			<h1><span th:text="'📝 ' + ${testInfo.getMaxScore()}" class="badge text-bg-secondary" title="Кол-во баллов"></span></h1>
			<h1><span th:text="${testInfo.getIsOpened()} ? '✅ Открыт' : '❌ Закрыт'" class="badge text-bg-secondary" title="Статус"></span></h1>
			<h1><a th:href="@{'/my-tests/edit/' + ${testInfo.getId()}}" href="#"><span class="badge text-bg-primary">Редактировать</span></a></h1>
		</div>
	
		<div class="d-flex flex-column flex-wrap mb-2 align-items-start container">
			<h1 th:text="${testInfo.getTitle()}" class="display-5"></h1>
			<p th:text="${testInfo.getDescription()}"></p>
		</div>

		<h1 class="display-6 mt-3">Попытки</h1>

		<div class="table-responsive">
			<table class="table table-borderless table-light">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col"># попытки</th>
					<th scope="col">Баллов</th>
					<th scope="col">Завершено</th>
					<th scope="col"></th>
				</tr>
				</thead>
				<tbody class="table-group-divider">
				<th:block th:each="attempt, iter : ${attempts}">
					<tr>
						<th th:text="${iter.count}" scope="row"></th>
						<td th:text="${attempt.attemptNo}"></td>
						<td th:text="${attempt.score}"></td>
						<td th:text="${attempt.endTime}"></td>
						<td><a th:href="@{'/my-attempts/show-details/' + ${attempt.id}}" href="#" class="link-primary">Подробнее</a></td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>